---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// $base-font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family:       "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
// $base-font-family:       Georgia,Cambria,"Times New Roman",Times,serif;
$base-font-size:         16px;
$base-font-weight:       400;
$small-font-size:        $base-font-size * 0.875;
$base-line-height:       1.5;

$text-color:             #111;
$background-color:       #fdfdfd;
$strip-color:            #fff;
$strip-background-color: #202020;
$brand-color:            #258fb8;
$code-background-color:  #f7f7f7;

$grey-color:             #828282;
$grey-color-light:       lighten($grey-color, 30%);
$grey-color-dark:        darken($grey-color, 25%);

$content-width:          1000px;
$footer-height:          130px;
$spacing-unit:           30px;

$on-palm:                600px;
$on-laptop:              800px;



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
          border-radius: $value;
}



@import
        "base",
        "layout",
        "syntax-highlighting"
;
