<header class="site-header">
  {% if site.github_user_id %}
    <a href="{{ site.baseurl }}/"><img class="site-avatar" src="https://avatars3.githubusercontent.com/u/{{ site.github_user_id }}?v=3&s=150" alt="GitHub Profile Picture"></a>
  {% endif %}

  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  <p class="site-about">{{ site.description }}</p>

  <div class="social-media-list">
    {% assign rss_url = "/feed.xml" | prepend: site.baseurl %}
    {% include icon-rss.html url=rss_url %}
    {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
    {% endif %}
    {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}
    {% if site.linkedin_username %}
      {% include icon-linkedin.html username=site.linkedin_username %}
    {% endif %}
  </div>

  <nav class="site-nav">
    <a class="{% if page.section == 'home' %} active{% endif %}" href="/">Home</a>
    <a class="{% if page.section == 'blog' %} active{% endif %}" href="/blog">Blog</a>
  </nav>
</header>
