/**
 * Site header
 */
.site-header {
  padding: 2rem 0 1rem 0;

  a:hover {
    color: $brand-color;
  }
}

.site-avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  @include border-radius(50%);
}

.site-title {
  display: block;
  font-size: 2em;
  font-weight: 600;
  margin: 0.6rem 0 0.6rem 0;
}

.site-about {
  margin: 0.4rem 0 0.4rem 0;
}

.social-media-list {
  margin-top: 0.8rem;

  .icon {
    margin-left: 0.2rem;

    > svg {
      width: 32px;
      height: 32px;
    }
  }
}

.site-nav {
  margin-top: 0.8rem;

  a {
    &:not(:last-child) {
      margin-right: 0.3rem;
    }

    &.active {
      font-weight: 600;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  padding: 0.4em 0;
  font-size: 0.7em;

  p {
    padding-top: 0.5em;
    margin-bottom: 0;
  }

  a:hover {
    color: $strip-color;
    opacity: 0.6;
  }
}

.site-header, .site-footer {
  color: $strip-color;
  background-color: $strip-background-color;
  text-align: center;
}



/**
 * Site content
 */
.site-content {
  padding-top: $spacing-unit;
  padding-bottom: -webkit-calc(#{$footer-height} + #{$spacing-unit});
  padding-bottom:         calc(#{$footer-height} + #{$spacing-unit});
}

.pagination {
  padding: 1em 0;
  height: 1em;
  line-height: 1;
  position: relative;

  span, a {
    border-radius: 0.1875em;
    border: 1px solid $grey-color-light;
    padding: 1em 1.5em;

    @include media-query($on-palm) {
      padding: 0.5em 1.2em;
    }
  }

  a {
    color: $grey-color-dark;
  }

  span {
    color: $grey-color-light;
  }
}



/**
 * Posts
 */
.post {
  margin-bottom: $spacing-unit;
}

.post-link {
  color: $text-color;

  &:hover {
    color: $text-color;

    * {
      opacity: 0.6;
    }
  }

  .post-title {
    color: $brand-color;
  }
}

.post-title {
  display: block;
  margin-bottom: 0;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 0.2em;
}

.post-content {
  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 0.9em;
  }

  img:not(.emoji) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.embed-container {
  position: relative;
  margin: 1em 0;
  padding-bottom: 33.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  @include media-query($on-laptop) {
    padding-bottom: 44.25%;
  }
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 100%;

  @include media-query($on-laptop) {
    left: 10%;
    width: 80%;
  }
}
